<ng-container *ngIf="article">
	<div class="article">
		<div class="article-head row">
			<div class="col-md-auto">
				<div class="circle">
				</div>
			</div>
			<div class="col col">
        <ng-container *ngIf="author$ | async; let author">
          <app-article-meta [author]="author"></app-article-meta>
        </ng-container>
			</div>
			<div class="col col-sm-1">
				<div class="btn-arrow">
					<i class="fas fa-angle-down"></i>
				</div>
			</div>
		</div>
		<div class="article-tag">
      <ng-container *ngIf="tags$ | async; let tags">
			  <app-article-tag-list [tags]="tags"></app-article-tag-list>
      </ng-container>
		</div>
		<div class="article-content">
			{{ article.body }}
		</div>
		<div class="article-action">
			<app-share-button></app-share-button>
			<app-thanx-button></app-thanx-button>
		</div>
		<div class="article-comment">
      <ng-container *ngIf="comments$ | async; let comments">
        <span>{{ comments.length }} commentaire<ng-container *ngIf="comments.length > 1">s</ng-container></span> - <span>{{ article.thanxCount }} thanx</span>
        <hr class="separator" />
        <app-comment [comments]="comments">
        </app-comment>
      </ng-container>
			<app-comment-form></app-comment-form>
		</div>
	</div>
</ng-container>
