$color-blue: #1ba3e1;
$grey-color:#9da1a3;
:host {
  display: block;
}

.profile {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.profile-desc {
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  color: $grey-color;
}

.profile-name > strong {
  text-transform: uppercase;
  color: $color-blue;
}
