$bg-color:#fff;
$btn-share-color:#9da1a3;
$btn-share-icon-color:#d9d9d9;
$color-blue: #1ba3e1;

:host {
  margin-top: 20px;
  display: block;
}

.header {
  padding: 10px;
  border-radius: 4px;
  background-color: $bg-color;
}

.header-title {
  padding: 10px;
  font-weight: bold;
  text-align: center;
  font-size: 24px;
  color: $color-blue;
}

.header-action {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn-help,
.btn-share-article {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: $btn-share-color;
}

.btn-help {
  margin-left: 2.5em;
}

.btn-share-article {
  margin-right: 2.5em;
}

.btn-help > i,
.btn-share-article > i {
  font-size: 36px;
  color: $btn-share-icon-color;
}

.btn-help > span,
.btn-share-article > span {
  margin-left: 10px;
}

.btn-help:hover,
.btn-share-article:hover {
  color: $color-blue;
}

.btn-help:hover > i,
.btn-share-article:hover {
  color: $color-blue;
}
