/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "./scss/_base.scss";

.circle {
  height: 50px;
  width: 50px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.avatar {
  width: 50px;
  height: 50px;
}

.avatar > img {
  max-width: 100%;
}

/*Profile*/
.profile {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.profile-desc {
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  color: #9da1a3;
}

.profile-name > strong {
  text-transform: uppercase;
  color: #1ba3e1;
}

/*shared style*/
.btn-thanx,
.btn-share {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  color: #9da1a3;
}

.btn-thanx > i,
.btn-share > i {
  font-size: 36px;
  color: #d9d9d9;
}

.btn-thanx > span,
.btn-share > span {
  margin-left: 10px;
}

.btn-thanx:hover,
.btn-share:hover {
  color: #1ba3e1;
}

.btn-thanx:hover > i,
.btn-share:hover > i {
  color: #1ba3e1;
}
